[buildout]
extends =
    https://raw.github.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg

package-name = ftw.tokenauth

[versions]
# Pin down zc.buildout because of an issue with 2.11.1 where setuptools
# loops trying to upgrade itself
zc.buildout = 2.11.0

# jsonschema >= 3.0.0a1 requires a version of six that is more recent than
# the one currently pinned for Plone.
jsonschema = 2.6.0
